<body class="home blog">
  <div class="page-wrap">
    <header class="site-header">
        <%= render "layouts/nav" %>
    </header><!-- .site-header -->
    <%= render "rss_ticker" %>
    <%= render "home_slider" %>
    <%= render "article_sub_widget" %>

    <main id="main" class="site-main" role="main">
      <%= render "articles" %>
      <%= render "sidebar" %>
    </main><!-- .site-main -->

    <section class="site-widgetized-section">
      <div class="widgets clearfix  widgets-4">
        <div class="widget wpzoom-featured-cat" id="wpzoom-featured-cat-10">
          <h3 class="title">
            <span><a href="http://devtest.nycbullion.com/index.php/category/entertainment/">Politics</a></span>
          </h3>

				 	<div class="main-post">
						<a href="http://devtest.nycbullion.com/index.php/2015/02/10/imagine-dragons-makes-history-with-first-live-ad-during-grammys-break/" title="Imagine Dragons makes history with first live ad during Grammys break">
              <img src="http://devtest.nycbullion.com/wp-content/uploads/2015/02/imagine-dragons-target-live-640x400.jpg" alt="Imagine Dragons makes history with first live ad during Grammys break" class="Thumbnail thumbnail featured-cat " width="640" height="400" />
            </a>

						<h3 class="entry-title">
              <a href="http://devtest.nycbullion.com/index.php/2015/02/10/imagine-dragons-makes-history-with-first-live-ad-during-grammys-break/" title="Imagine Dragons makes history with first live ad during Grammys break">Imagine Dragons makes history with first live ad during Grammys break</a>
            </h3>

						<div class="entry-meta">
							<span>February 10, 2015</span>
							<span>
                <a href="http://devtest.nycbullion.com/index.php/2015/02/10/imagine-dragons-makes-history-with-first-live-ad-during-grammys-break/#respond">0 comments</a>
              </span>
						</div>
					</div>

					<ul class="featured-list"></ul>

					<div class="clear"></div>
    			<div class="clear"></div>
        </div>

        <div class="widget wpzoom-featured-cat" id="wpzoom-featured-cat-8">
          <h3 class="title">
            <span><a href="">Business</a></span>
          </h3>
					<div class="clear"></div>
    			<div class="clear"></div>
        </div>

        <div class="widget wpzoom-featured-cat" id="wpzoom-featured-cat-7">
          <h3 class="title">
            <span><a href="http://devtest.nycbullion.com/index.php/category/politics/">Sport</a></span>
          </h3>

				 	<div class="main-post">
						<a href="http://devtest.nycbullion.com/index.php/2014/03/07/obama-and-leaders-reach-debt-deal/" title="Obama and Leaders Reach Debt Deal">
              <img src="http://devtest.nycbullion.com/wp-content/uploads/2014/03/Barack_Obama_at_Las_Vegas_Presidential_Forum-e1459680519758-640x400.jpg" alt="Image Source: Center for American Progress Action Fund" class="Thumbnail thumbnail featured-cat " width="640" height="400" />
            </a>

						<h3 class="entry-title">
              <a href="http://devtest.nycbullion.com/index.php/2014/03/07/obama-and-leaders-reach-debt-deal/" title="Obama and Leaders Reach Debt Deal">Obama and Leaders Reach Debt Deal</a>
            </h3>

						<div class="entry-meta">
							<span>March 7, 2014</span>
							<span><a href="http://devtest.nycbullion.com/index.php/2014/03/07/obama-and-leaders-reach-debt-deal/#respond">0 comments</a></span>
						</div>
					</div>

					<ul class="featured-list">
						<li>
							<h4 class="entry-title">
                <a href="http://devtest.nycbullion.com/index.php/2013/04/07/testing-the-elements-2/" title="Testing the Elements">Testing the Elements</a>
              </h4>
							<div class="clear"></div>
						</li>

						<li>
							<h4 class="entry-title"><a href="http://devtest.nycbullion.com/index.php/2013/03/06/putin-election-victory-what-next-for-russia/" title="Putin election victory: What next for Russia?">Putin election victory: What next for Russia?</a></h4>
							<div class="clear"></div>
						</li>

						<li>
							<h4 class="entry-title">
                <a href="http://devtest.nycbullion.com/index.php/2013/02/07/dmitry-medvedevs-two-day-state-visit-to-norway-has-begun/" title="Dmitry Medvedev&#8217;s two-day state visit to Norway has begun">Dmitry Medvedev&#8217;s two-day state visit to Norway has begun</a>
              </h4>
							<div class="clear"></div>
						</li>
					</ul>

					<div class="clear"></div>
    			<div class="clear"></div>
        </div>

        <div class="widget wpzoom-featured-cat" id="wpzoom-featured-cat-9">
          <h3 class="title">
            <span><a href="http://devtest.nycbullion.com/index.php/category/auto/">Auto</a></span>
          </h3>

				 	<div class="main-post">
						<a href="http://devtest.nycbullion.com/index.php/2015/02/16/2016-porsche-cayman-gt4-revealed/" title="2016 Porsche Cayman GT4 Revealed">
              <img src="http://devtest.nycbullion.com/wp-content/uploads/2015/02/2015-Porsche-Cayman-GT4-Blue-5-1920x1200-640x400.jpg" alt="2016 Porsche Cayman GT4 Revealed" class="Thumbnail thumbnail featured-cat " width="640" height="400" />
            </a>

						<h3 class="entry-title">
              <a href="http://devtest.nycbullion.com/index.php/2015/02/16/2016-porsche-cayman-gt4-revealed/" title="2016 Porsche Cayman GT4 Revealed">2016 Porsche Cayman GT4 Revealed</a>
            </h3>

						<div class="entry-meta">
							<span>February 16, 2015</span>
							<span><a href="http://devtest.nycbullion.com/index.php/2015/02/16/2016-porsche-cayman-gt4-revealed/#respond">0 comments</a></span>
						</div>
					</div>

					<ul class="featured-list">
						<li>
							<h4 class="entry-title">
                <a href="http://devtest.nycbullion.com/index.php/2015/02/05/the-mercedes-s-class-coupe-is-ultra-luxurious-but-it-also-takes-curves-like-a-pro-skier/" title="The Mercedes S-Class Coupe is ultra-luxurious">The Mercedes S-Class Coupe is ultra-luxurious</a>
              </h4>
							<div class="clear"></div>
						</li>

						<li>
							<h4 class="entry-title">
                <a href="http://devtest.nycbullion.com/index.php/2012/06/06/range-rover-sport-evokes-a-little-bit-more-lust-for-2014/" title="Range Rover Sport evokes a little bit more lust for 2014">Range Rover Sport evokes a little bit more lust for 2014</a>
              </h4>
							<div class="clear"></div>
						</li>

						<li>
							<h4 class="entry-title">
                <a href="http://devtest.nycbullion.com/index.php/2012/05/08/range-rover-evoque-victoria-beckham-edition/" title="Range Rover Evoque for Victoria Beckham">Range Rover Evoque for Victoria Beckham</a>
              </h4>
							<div class="clear"></div>
						</li>
          </ul>

					<div class="clear"></div>
    			<div class="clear"></div>
        </div>
      </div>
    </section><!-- .site-widgetized-section -->

    <%= render "layouts/footer" %>
  </div>

  <!-- JS Load -->
    <script type='text/javascript' src='http://devtest.nycbullion.com/wp-content/themes/compass/js/jquery.mmenu.min.all.js?ver=1.1.1'></script>
    <script type='text/javascript' src='http://devtest.nycbullion.com/wp-content/themes/compass/js/jquery.carouFredSel-6.2.1-packed.js?ver=1.1.1'></script>
    <script type='text/javascript' src='http://devtest.nycbullion.com/wp-content/themes/compass/js/flickity.pkgd.min.js?ver=1.1.1'></script>
    <script type='text/javascript' src='http://devtest.nycbullion.com/wp-content/themes/compass/js/jquery.fitvids.js?ver=1.1.1'></script>
    <script type='text/javascript' src='http://devtest.nycbullion.com/wp-content/themes/compass/js/superfish.min.js?ver=1.1.1'></script>
    <script type='text/javascript' src='http://devtest.nycbullion.com/wp-content/themes/compass/js/tabs.js?ver=1.1.1'></script>
    <script type='text/javascript'>
      /* <![CDATA[ */
      var zoomOptions = {"slideshow_auto":"1","slideshow_speed":"3000"};
      /* ]]> */
    </script>
    <script type='text/javascript' src='http://devtest.nycbullion.com/wp-content/themes/compass/js/functions.js?ver=1.1.1'></script>
    <script type='text/javascript' src='http://devtest.nycbullion.com/wp-includes/js/wp-embed.min.js?ver=4.8.1'></script>
  <!-- End JS Load -->
</body>
